   .actionBtn {
        border: 3px solid rgb(19, 36, 73);
        color: rgb(19, 36, 73);
        background: white;
        width: 130px;
        font-weight: bold;
        text-align: center;
    }
