header {
    display: flex;
    justify-content: space-between;
    background-color: #353E49;
    padding: 20px;
    height: 75px;

    h1 {
        color: #1fa3d6;
        width: 30px;

        span {
            color: white;
        }

    }

    nav {
        color: #1fa3d6;
        ul {
            display: flex;
            list-style-type: none;
            
            li {
                margin-left: 10px;
                padding: 5px;
                height: 10px;
            }

        }
        
    }

}